* {
  margin: 0;
  padding: 0;
}

#topicsmainfull_in h2{
	border-bottom:1px solid #111!important;
	background:none !important;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	font-size: 15px !important;
	font-weight: normal;
	margin:10px auto;
}
#topicsmainfull h3 {
    /*margin: 10px 0;*/
    /*border-left: none;*/
    border-bottom: none;
    border-left: none;
    background: none;
    font-weight: normal;
    font-size: 13px; !important;
}
.maintitle { font-size:18px; font-weight:normal; padding:10px; text-align:center; }
.docomotitle { font-size:17px; font-weight:normal; color:#dc143c; padding:10px; text-align:center; margin-bottom:30px; }
.autitle { font-size:17px; font-weight:normal; color:#ff4500; padding:10px; text-align:center; margin-bottom:30px; }
.softbanktitle { font-size:17px; font-weight:normal; padding:10px; text-align:center; margin-bottom:30px; }
.tolinkbtn a{
	margin: 7px auto;
    background: #708090;
    color:#fff;
    font-size:11px;
    padding:5px;
    max-width: 80%; }
#softbank .tolinkbtn a{
	margin: 7px auto;
    background: #708090;
    color:#fff;
    font-size:14px;
    padding:10px;
    max-width:80%; }

#ymobile .tolinkbtn a{
	margin: 7px auto;
    background: #dc143c;
    color:#fff;
    font-size:14px;
    padding:10px;
    max-width:80%; }
#return .tolinkbtn a{
	margin: 7px auto;
    background: #191970;
    color:#fff;
    font-size:16px;
    padding:10px;
    max-width:80%; }
table.taiou {
    background: #efefef none repeat scroll 0 0;
    border:1px solid #666666;
    border-collapse: collapse;
    margin:3px auto;
}
table.taiou td { display: table-cell;
    vertical-align: middle;
    padding:4px;
    font-size:11px;
    text-align:center;
    border:1px solid #708090;
 }
.softbankenter { 
	border-radius:15px;
	border:solid 8px #cccccc;
	padding:20px;
	text-align:center;
	font-size:16px;
	margin:0 auto;
	width:80%; 
}
.ymobileenter { 
	border-radius:15px;
	border:solid 8px #dc143c;
	padding:20px;
	text-align:center;
	font-size:16px;
	margin:0 auto;
	width:80%; 
}
.punctuation { margin:30px 0; border-top:1px solid #cccccc; }
.dotpunctuation { margin:10px 0; border-top:1px dotted #cccccc; }
.largedotpunctuation { margin:10px 0; border-top:4px dotted #cccccc; }
.captype { font-size:13px; color:#191970; text-align:center; }
.rdarea { color:#111; font-size:12px; border-radius:15px; background:#f0f8ff; padding:15px; margin:10px auto; width:80%; }
.servicelist {
	color:#111;
	font-size:12px;
	text-align:left;
	border-radius:5px;
	background:#f5f5f5;
	padding:15px;
	margin:10px auto; }
div.servicelist ul, div.servicelist ol {
    list-style: outside none square;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
}
div.servicelist ul li {
	font-size: 100%;
	line-height: 1.5;
	list-style: outside none square;
}
.reservetime {
	color:#e60012;
	font-size:12px;
	text-align:center;
 }
.reserveflow {
	color:#111;
	font-size:11px;
	text-align:left;
	line-height:2em;
	border-radius:10px;
	background:#fffaf0;
	padding:15px;
	margin:10px auto;
}
div.reserveflow ul, div.servicelist ol {
    list-style: outside none square;
    margin: 0 0 0 0px;
    padding: 0 0 0 10px;
}
div.reserveflow ul li {
	font-size: 100%;
	line-height: 1.5;
	list-style: outside none square;
}